input[type="radio"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.custom-radio {
  /* hiding browser el */
  appearance: none;
  /* Safari support */
  -webkit-appearance: none;
  border: 0.4rem solid #fff;
  background-color: var(--bg-color);
  border-radius: 50%;
}

/* keyboard navigation focus appearance */
.custom-radio:focus-visible {
  outline-offset: 0;
}

.custom-radio {
  box-shadow: 0 0 0 1px var(--color-grey);
}

.custom-radio:hover {
  border-width: 0;
}

.custom-radio:checked {
  box-shadow: 0 0 0 1px var(--checked-color);
  background-color: var(--checked-color);
  border-width: 0.4rem;
}

.button-save-north-to-file>span,
.button-restore-north-from-file>span,
.button-save-south-to-file>span,
.button-restore-south-from-file>span,
.button-save-logo-to-file>span,
.button-restore-logo-from-file>span {
	color: black;
}

.button-save-north-to-file:hover,
.button-save-south-to-file:hover,
.button-save-logo-to-file:hover {
	background-color: var(--color-light-green);
}

.button-restore-north-from-file:hover,
.button-restore-south-from-file:hover,
.button-restore-logo-from-file:hover {
	background-color: var(--hover-light-color);
}