.block-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1600px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.block__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.block__title>p {
  font-size: 1.8rem;
  font-weight: bold;
}

.block_range {
  display: flex;
  flex-direction: column;
}
 
#south-rangeValue,
#north-rangeValue {
  margin-bottom: 8px;
  font-size: 1.8rem;
  color: var(--bg-color-header);
}

#south-rangeValue::after,
#north-rangeValue::after
 {
  content: "%";
}
/* RANGE */

input[type=range]  {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 360px;
  height: 18px;
  background: var(--bg-color);
  border-radius: 18px;
  box-shadow: 0 0 0 4px var(--bg-color), inset 0 0 4px var(--bg-color-header);
  outline: none;
  overflow: hidden;
  margin-bottom: 48px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 3px solid var(--hover-color);
  border-radius: 50%;
  background: var(--bg-color-header);
  box-shadow: -367px 0 0 360px var(--hover-color);
  cursor: pointer;
}


.button-manual-mode {
  height: 48px;
  width: 196px;
  margin-bottom: 12px;
}

.button-manual-mode:hover {
  background-color: var(--color-orange);
}

.button-manual-mode[aria-pressed="true"] {
  background-color: var(--color-orange);
}

[class*="button-mode"] {
  height: 48px;
  margin-bottom: 0;
}

[class*="button-mode"][aria-pressed="true"] {

  background-color: var(--hover-color);
}

.button-mode-eco {
  height: 48px;
  margin-bottom: 32px;
}

.button-mode-eco:hover {
  background-color: var(--color-green);
}

.button-mode-eco[aria-pressed="true"] {
  background-color: var(--color-green);
}

.block-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


