.palette-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
}

.palette-block__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.palette-block__title>p {
  font-size: 1.8rem;
  font-weight: bold;
}

.south-color-picker-container,
.north-color-picker-container {
  display: none;
}

.south-color-picker-container.active,
.north-color-picker-container.active { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-around;
}

.palette-south {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.south-color-input {
  width: 128px;
  height: 32px;
  margin-bottom: 12px;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  font-size: 1.8rem;
  padding-left: 2px;
}

.button-south-picker,
.button-north-picker,
.button-send-south-picker,
.button-send-north-picker {
  height: 48px;
  width: 196px;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.button-south-picker:hover,
.button-north-picker:hover {
  background-color: inherit;
  border: solid 2px var(--color-orange);
}

.button-south-picker[aria-pressed="true"],
.button-north-picker[aria-pressed="true"] {
  background-color: var(--color-orange);
}

.button-send-south-picker,
.button-send-north-picker {
  align-self: center;
}

.button-send-south-picker:hover,
.button-send-north-picker:hover {
  background-color: var(--color-green);
}

.color-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  border-radius: 12px;
  margin-bottom: 20px;
}

.io {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
  height: 360px;

  clear: both;
  float: left;
  margin-right: 12px;
  padding: 20px;
  /* border-radius: 12px; */
  /* border: 1px solid lightgray; */
  /* background-color: white; */
}

.io input {
  width: 96px;
  height: 24px;
  border: 1px solid black;
  font-size: 1.6rem;
  padding-left: 2px;
}

.io label {
  font-size: 1.6rem;
  font-weight: bold;
}

.hex-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

.rgb-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

#rgb_css {
  font-size: 1.6rem;
  margin-bottom: 14px;
}

#color {
  width: 100%;
  height: 164px;
  float: left;
  margin: 12px;
  border: 1px solid black;
  border-radius: 12px;
}