html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;

  position: relative;
 
  margin: 0 auto;  /* centers the layout */

  --bg-color-header: #6465A5;
  --checked-color: #6975A6;
  --hover-color: #9FA7C6;
  --bg-color: rgb(238, 237, 236);
  --color-yellow: #F3E96B;
  --color-orange: #f28a30;
  --color-red: #F05837;
  --color-green: #73BE73;
  --color-grey: #999;
}

.page-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1680px;
}

section {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: none;
  background: var(--bg-color);
  overflow: auto;
}

section#home {
  display: flex;
  justify-content: center;
}

section#home > div {
  position: absolute;
  top: 72px;
}

section#home h1 {
margin-bottom: 12px;
}

section:target ~ #home {
  display: none;
}

.section:target { /* Show section */
  display: flex;
  justify-content: center;
  
}

section > div {
  position: absolute;
  top: 84px;
}

.button {
  display: inline-block;
  width: 150px;
  padding: 5px 8px;
  margin-bottom: 8px;
  line-height: 1;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background: var(--bg-color);
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: background-color ease 0.3s;
}

.button-get-monday {
  margin-top: 8px;
  margin-bottom: 0;
}

.button:hover {
  background-color: var(--hover-color);
}

input {
  background-color: var(--bg-color);
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 2px;
}

.table-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}

.left-grid {
  display: grid;

  grid-template-rows: repeat(14, 32px);
  grid-template-columns: 136px 136px;

  gap: 0px;
  height: 100%;
  margin-top: 32px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-sizing: border-box;
}

.table-cell {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.cell-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

.cell-4 {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 2;
}

.cell-8 {
  grid-row-start: 7;
  grid-column-start: 1;

  grid-row-end: 9;
  grid-column-end: 2;
}

.cell-11 {
  grid-row-start: 9;
  grid-column-start: 1;

  grid-row-end: 12;
  grid-column-end: 2;
}

.cell-15 {
  grid-row-start: 12;
  grid-column-start: 1;

  grid-row-end: 15;
  grid-column-end: 2;
}

.logo-left-grid {
  display: grid;

  grid-template-rows: repeat(16, 32px);
  grid-template-columns: 112px 112px 136px;

  gap: 0px;
  height: 100%;
  margin-top: 32px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-sizing: border-box;
}

.logocell-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 9;
  grid-column-end: 2;
}

.logocell-1 {
  grid-row-start: 9;
  grid-column-start: 1;

  grid-row-end: 17;
  grid-column-end: 2;
}

.logocell-2 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;
}

.logocell-3 {
  grid-row-start: 5;
  grid-column-start: 2;

  grid-row-end: 9;
  grid-column-end: 3;
}

.logocell-4 {
  grid-row-start: 9;
  grid-column-start: 2;

  grid-row-end: 13;
  grid-column-end: 3;
}

.logocell-5 {
  grid-row-start: 13;
  grid-column-start: 2;

  grid-row-end: 17;
  grid-column-end: 3;
}

.week-table {
  display: flex;
  flex-direction: row;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 112px;
}

.monday,
.monday>div,
.monday>div>input,
.monday>div>select {
  background-color: grey;
}

.day-title {
  height: 33px;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  align-self: center;
  border-bottom: 1px solid black;
}

.day-list {
  display: flex;
  flex-direction: column;
}

.day-list-item,
.day-list>div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 112px;
  height: 32px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

._border0 {
  border: 0;
}

/* .day-list-item input[type="text"] */

.day-list>div>input[type="text"] {
  height: 28px;
  width: 64px;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transform: translateY(0.5px);
}

/* TODO VALIDATION */

.day-list>div>input[type="text"]:invalid {
  border-color: red;
  color: red;
  box-shadow: none;
  box-shadow: 0 0 0 0.1rem red;
}

.day-list>div>input[type="text"]:focus:invalid {
  border-color: red;
  color: red;
  box-shadow: none;
}

.day-list>div>input[type="text"]:disabled {
  color: #999;
}

.day-list>div>input[type="text"]:focus {
  background-color: var(--bg-color);
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--checked-color);
}

.day-list>div>input[type="text"]::placeholder {
  font-size: 1.6rem;
}

.day-list-item select,
.day-list>div>select {
  height: 28px;
  width: 108px;
  border-radius: 0.25rem;
  transform: translateY(-0.5px);
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

.day-list>div>select:focus {
  background-color: var(--bg-color);
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--checked-color);
}

.north-table-footnote,
.south-table-footnote,
.logo-table-footnote {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 1.6rem;
  font-weight: 100;
}

.north-table-footnote span,
.south-table-footnote span,
.logo-table-footnote span{
  font-size: 1.6rem;
  font-weight: 400;
}